.idea/
.vscode/
__pycache__/
*.pyc
venv/
env/
backend/.env
frontend/.env
backend/data/*.bin
frontend/node_modules/
frontend/.next/
backend/data/*.pt
backend/data/*.pkl
backend/data/*.h5
backend/data/t5_generator_model/
backend/data/fra_perfumes.csv 
backend/data/fra_cleaned.csv        